body {
  font-family: 'Poppins', sans-serif;;
  margin: 0;
  background-color: #383B53;
}
.header {
  background-color: #F18805;
  padding: 20px;
  text-align: left;
  justify-content: start;
  justify-content: center;
  display: flex;
}
.header img {
  width: 200px;
  fill: white;
}
.header form {
  display: inline-block;
  padding-inline: 20px;
}

.footer {
  background-color: #F18805;
  padding: 20px;
  text-align: center;
}
.footer img {
  width: 50px;
}
