body {
  font-family: 'Poppins', sans-serif;;
  margin: 0;
  background-color: #383B53;
}
.header {
  background-color: #F18805;
  padding: 20px;
  text-align: left;
  justify-content: start;
  justify-content: space-evenly;
  display: flex;
}
.header img {
  width: 100px;
  height: 100px;
}
.header form {
  display: inline-block;
}

.footer {
  background-color: #F18805;
  padding: 20px;
  text-align: center;
}
.footer img {
  width: 100px;
  height: 100px;
}