body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #383B53;
}
.header {
  background-color: #66717E;
  padding: 20px;
  text-align: left;
  justify-content: start;
  justify-content: center;
  display: flex;
}
.header img {
  width: 200px;
  fill: white;
}

.content {
  padding: 20px;
  background-color: #383B53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer {
  background-color: #66717E;
  padding: 20px;
  text-align: center;
}
.footer img {
  width: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #F18805;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-right: 8px; /* Add margin to create spacing between logo and search input */
}

.search-input {
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  flex-grow: 1;
  background-color: #383B53;
  color: #f0f0f0;
}

.search-button {
  padding: 8px;
  background-color: #D1CAA1;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns and their widths as needed */
  gap: 16px; /* Adjust the gap between grid items as needed */
  margin-left: 10%;
  margin-right: 10%;
}

.grid-item {
  padding: 16px; /* Adjust padding as needed */
  background-color: #fff; /* Adjust background color as needed */
}


.footer {
  display: flex; /* Use Flexbox */
  justify-content: le; /* Center align child elements horizontally */
  align-items: center; /* Center align child elements vertically */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #66717E;
  padding: 16px;
  box-sizing: border-box;
}

.logo {
  margin-right: 30px; /* Add margin to create spacing between logo and links */
}

.liens {
  display: flex; /* Use Flexbox to align links vertically */
  flex-direction: column; /* Stack links vertically */
}

.liens a {
  margin-bottom: 1px; /* Add margin between links */
  text-align: left;
  color: #fff;
  text-decoration: none;
  
}

.liens a:hover 
{
  color: #383B53;
  /* Firefox */
  -moz-transition: all 0.2s ease-in;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in;
  /* Opera */
  -o-transition: all 0.2s ease-in;
  /* Standard */
  transition: all 0.2s ease-in;
}