@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}