@keyframes slideInLeft {
	0% {
		transform: translateX(-20%);
		opacity: 0%;
	}

	100% {
		transform: translateX(0);
		opacity: 100%;
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(20%);
		opacity: 0%;
	}

	100% {
		transform: translateX(0);
		opacity: 100%;
	}
}

@keyframes slideInTop {
	0% {
		transform: translateY(-20%);
		opacity: 0%;
	}

	100% {
		transform: translateY(0);
		opacity: 100%;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes animation {
	0% {
		width: 0px;
	}
	11.1%, 22.2% {
		content: "faciles et rapides";
		width: 14ch;
	}
	33.3% {
		width: 0ch;
	}
	44.4%, 55.5% {
		content: "savoureuses et rapides";
		width: 19ch;
	}
	66.6% {
		width: 0ch;
	}
	77.7%, 88.8% {
		content: "délicieuses et rapides";
		width: 17.5ch;
	}
	100% {
		content: "délicieuses et rapides";
		width: 0ch;
	}
}

@keyframes blinking {
	100% {
		opacity: 0;
	}
}

@keyframes animation-loupe {
	0% {
		transform: translate(-400px, 180px);
		scale: 0.7;
	}

	20% {
		transform: translate(-400px, 180px);
		scale: 0.7;
	}

	60% {
		transform: translate(-80px, 80px);
		scale: 1.2;
	}

	100% {
		transform: translate(100px, 50px);
		scale: 1.2;
	}
}
