@keyframes slideInLeft {
	0% {
		transform: translateX(-20%);
		opacity: 0%;
	}

	100% {
		transform: translateX(0);
		opacity: 100%;
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(20%);
		opacity: 0%;
	}

	100% {
		transform: translateX(0);
		opacity: 100%;
	}
}

@keyframes slideInTop {
	0% {
		transform: translateY(-20%);
		opacity: 0%;
	}

	100% {
		transform: translateY(0);
		opacity: 100%;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(100%);
		scale: 0.9;
	}

	100% {
		transform: translateY(0);
		scale: 1;
	}
}

@keyframes slideOutOverlay {
	0% {
		transform: translateY(0);
	}

	20% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}