@media only screen and (max-width: 768px) {
  header {
    display: block;
  }

  footer {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .grid-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .etape {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
  }

  .info {
    font-size: 16px;
  }

  .grid-item-text-recette {
    font-size: 25px;
  }

  .bigger-plus {
    font-size: 25px;
  }

  .bigger {
    font-size: 20px;
  }

  .share-button {
    display: none;
  }

  .content {
    margin-left: 5%;
    margin-right: 5%;
  }

  .grid-item-text {
    font-size: 30px;
  }
}